.social-item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.social-item--mobile {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.social-img--desktop {
	margin: 0 8px;
	filter: grayscale(100%);
	transition: all 0.2s ease;
}
.social-img--desktop:hover {
	filter: grayscale(0%);
}

.social-img--mobile {
	display: none;
	margin: 0 8px;
	transition: all 0.2s ease;
}

@media (max-width: 1000px) {
	.social-img--mobile {
		display: block;
	}
}

/*  Burger menu Socials */
