/* Сброс стилей для всех элементов */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 14px;
}

/* Сброс стилей для списков */
ul,
ol {
	list-style: none; /* Убираем маркеры у списков */
	padding: 0; /* Убираем отступы */
	margin: 0; /* Убираем внешние отступы */
}
li::marker,
ol::marker {
	content: none; /* Убираем маркеры */
}

/* Сброс стилей для ссылок */
a {
	text-decoration: none; /* Убираем подчеркивание */
	color: inherit; /* Наследуем цвет текста */
}

/* Сброс стилей для таблиц */
table {
	border-collapse: collapse; /* Убираем промежутки между ячейками */
	width: 100%; /* Задаём ширину таблицы */
}

/* Сброс стилей для кнопок */
button {
	background: none; /* Убираем фоновый цвет */
	border: none; /* Убираем рамку */
	padding: 0; /* Убираем внутренние отступы */
	cursor: pointer; /* Курсор при наведении */
}

/* Сброс стилей для форм */
input,
textarea {
	border: none; /* Убираем рамку */
	outline: none; /* Убираем контур при фокусе */
	padding: 0; /* Убираем внутренние отступы */
	margin: 0; /* Убираем внешние отступы */
	width: 100%; /* Ширина полей ввода */
}
